<h1>Editing style spec</h1>

<%= render "form", style_spec: @style_spec %>

<br>

<div>
  <%= link_to "Show this style spec", @style_spec %> |
  <%= link_to "Back to style specs", style_specs_path %>
</div>
