<div id="<%= dom_id style %>">
  <p>
    <strong>Name:</strong>
    <%= style.name %>
  </p>

  <p>
    <strong>Style num:</strong>
    <%= style.style_num %>
  </p>

  <p>
    <strong>Style image:</strong>
    <%= style.style_image %>
  </p>

</div>
