<div id="<%= dom_id piece_construction %>">
  <p>
    <strong>Piece:</strong>
    <%= piece_construction.piece_id %>
  </p>

  <p>
    <strong>Instruction:</strong>
    <%= piece_construction.instruction_id %>
  </p>

  <p>
    <strong>Topstitch rows:</strong>
    <%= piece_construction.topstitch_rows %>
  </p>

</div>
