<h1>Editing piece construction</h1>

<%= render "form", piece_construction: @piece_construction %>

<br>

<div>
  <%= link_to "Show this piece construction", @piece_construction %> |
  <%= link_to "Back to piece constructions", piece_constructions_path %>
</div>
